name: Markdown Lint
run-name: Markdown Lint ${{ github.sha }} by @${{ github.actor }}

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "**/*.md"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
      - name: Get changed files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        id: changed-files
        with:
          files: "**/*.md"
          separator: ","
      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@992badcdf24e3b8eb7e87ff9287fe931bcb00c6e # v20.0.0
        if: steps.changed-files.outputs.any_changed == 'true'
        with:
          config: .github/.markdownlint-cli2.yaml
          globs: ${{ steps.changed-files.outputs.all_changed_files }}
          separator: ","
